<%- include("../partials/html-head") %>

  <link rel="stylesheet" href="/stylesheets/flights/new.css">

  <%- include("../partials/nav") %>
    <main>
      <h1>Edit Flight Information</h1>
      <form action="/flights/<%= flight._id %>?_method=PUT" method="POST">
        <label>Airline:
          <input type="text" name="airline" value="<%= flight.airline%>">
        </label><br>
        <label>Flight Number:
          <input type="text" name="flightNo" value="<%= flight.flightNo %>">
        </label><br>
        <label>Airport
          <select name="airport">
            <option value="<%= flight.airport %>">
              <%= flight.airport%>
            </option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
        </label><br>
        <label>Seats Available:
          <input type="checkbox" name="seatsAvail" <%=flight.seatsAvail ? "checked" : "" %>
          id="seats-available-checkbox"
          >
        </label><br>
        <button type="submit">Edit Flight Information</button>
      </form>
    </main>

    <%- include("../partials/footer") %>