<%- include("../partials/html-head") %>

  <link rel="stylesheet" href="/stylesheets/flights/show.css">

  <%- include("../partials/nav") %>

    <main>
      <div>
      <a href="/flights/<%= flight._id %>/edit">Edit flight</a></div>
      <h1>
        <%= airline %>
      </h1>
      <section>
        <div>Airline: </div>
        <div>
          <%= flight.airline %></div>
        </div>
        <div>Flight Number: </div>
        <div>
          <%= flight.flightNo%>
        </div>
        <div>Airport: </div>
        <div>
          <%= flight.airport %>
        </div>
        <div>Departs At: </div>
        <div>
          <%= flight.departs %></div>
        </div><br>
      </section>
      <div id="tickets">
      <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
        <label for="seat">Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label>Price:</label>
          <input type="text" name="price">
        <button type="submit">ADD TICKET</button>
      </form>
      <% if (flight.tickets.length) { %>
        <table>
          <tbody>
            <% flight.tickets.forEach(function(ticket){ %>
              <tr>
                <td>
                  <div>Seat Number</div>
                  <%= ticket.seat %>
                </td>
                <td>
                  <div>Price</div>
                  <%= ticket.price %>
                </td>
              </tr>
              <% }) %>
              <h2>Available Tickets</h2>
          </tbody>
        </table>
        <% } else { %>
          <h3>No Tickets Available</h3>
          <% } %>
          
    </main>
</div>
    <%- include("../partials/footer") %>