<%- include("../partials/html-head") %>

  <link rel="stylesheet" href="/stylesheets/flights/show.css">

  <%- include("../partials/nav") %>

    <main>
      <h1>
        <%= airline %>
      </h1>
      <section>
        <div>Airline: </div>
        <div>
          <%= flight.airline %>
            <a href="/flights/<%= flight._id %>/edit"> Edit Flight Information</a>
        </div>
        <div>Flight Number: </div>
        <div>
          <%= flight.flightNo%>
        </div>
        <div>Airport for Departure: </div>
        <div>
          <%= flight.airport %>
        </div>
        <div>Departs on: </div>
        <div>
          <%= flight.departs.join(", ") %></div>
          <div>Ticket Price: </div>
          <div>
            <%= flight.price %>
          </div>
    <div>Seats Available: </div>
    <div><%= flight.seatsAvail ? " Yes" : "No" %>
        </div>
        <div>Seat Number: </div>
        <div>
          <%= flight.seat %>
        </div>
      </section>
            </main>
      
